# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
Assets/AssetStoreTools*
UnityVS.meta
*.apk
*.exe
*.app
*.sln
*.userprefs
*.tmp

/AssetBundles/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
